<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.haofeng.apps.dst"
          android:versionCode="111"
          android:versionName="1.1.1">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21"/>

    <!-- 【必须】 信鸽SDK所需权限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.RESTART_PACKAGES"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
    <!-- 【可选】 信鸽SDK所需权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BATTERY_STATS"/>

    <!-- 打电话 -->
    <uses-permission android:name="android.permission.CALL_PHONE">
    </uses-permission> <!-- 友盟统计需要 -->


    <!-- 扫码需要 -->
    <uses-permission android:name="android.permission.CAMERA">
    </uses-permission>
    <uses-permission android:name="android.permission.VIBRATE">
    </uses-permission>
    <uses-permission android:name="android.permission.FLASHLIGHT">
    </uses-permission>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>

    <uses-feature android:name="android.hardware.camera.flash"/>
    <!-- 百度地图需要 -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK">
    </uses-permission>

    <!-- SDK1.5需要android.permission.GET_TASKS权限判断本程序是否为当前运行的应用? -->
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>

    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION">
    </uses-permission>
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION">
    </uses-permission>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE">
    </uses-permission>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE">
    </uses-permission>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE">
    </uses-permission>
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE">
    </uses-permission>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE">
    </uses-permission>
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS">
    </uses-permission>
    <!-- 允许应用读取低级别的系统日志文件 -->
    <uses-permission android:name="android.permission.READ_LOGS">
    </uses-permission>
    <!-- 微信支付需要 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- 支付宝需要 -->
    <application
        android:name=".application.MyApplication"
        android:allowBackup="false"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity
            android:name=".ui.WelcomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.MainActivity" android:launchMode="singleTop">
        </activity>
        <activity android:name=".ui.WeiZhangPayActivity">
        </activity>
        <activity android:name=".ui.MyCarAssociationActivity">
        </activity>
        <activity android:name=".ui.CaptureActivity">
        </activity>
        <activity android:name=".ui.ListviewTestActivity">
        </activity>
        <activity android:name=".ui.BaiduRoutePlanActivity">
        </activity>
        <activity android:name=".ui.AuthenticaActivity">
        </activity>
        <activity
            android:name=".ui.LoginActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity android:name=".ui.RegistActivity">
        </activity>
        <activity android:name=".ui.ChangePwdActivity">
        </activity>
        <activity android:name=".ui.NichengBJActivity">
        </activity>
        <activity
            android:name=".ui.BaiduMapActivity"
            android:launchMode="singleTask">
        </activity>
        <activity android:name=".ui.RechargeActivity">
        </activity>
        <activity android:name=".ui.WalletActivity">
        </activity>
        <activity android:name=".ui.OrderActivity">
        </activity>
        <activity android:name=".ui.MyOrderActivity">
        </activity>
        <activity android:name=".ui.CollectionActivity">
        </activity>
        <activity android:name=".ui.LeaseCarslistActivity">
        </activity>
        <activity android:name=".ui.LeaseCustomInforActivity">
        </activity>
        <activity android:name=".ui.NewsActivity">
        </activity>
        <activity android:name=".ui.NewsInforActivity">
        </activity>
        <activity android:name=".ui.MycarActivity">
        </activity>
        <activity android:name=".ui.ChargeActivity">
        </activity>
        <activity android:name=".ui.ChargeEndActivity">
        </activity>
        <activity android:name=".ui.CarUpdateActivity">
        </activity>
        <activity android:name=".ui.OperationHelpActivity">
        </activity>
        <activity android:name=".ui.SuggestActivity">
        </activity>
        <activity
            android:name=".ui.MyWalletActivity"
            android:launchMode="singleTask">
        </activity>
        <activity android:name=".ui.SuggestListActivity">
        </activity>
        <activity android:name=".ui.ChargeListActivity">
        </activity>
        <activity android:name=".ui.ShareActivity">
        </activity>
        <activity android:name=".ui.MyWeiZhangActivity">
        </activity>
        <activity android:name=".ui.ShareListActivity">
        </activity>
        <activity android:name=".ui.BaiduLeaseCarActivity">
        </activity>
        <activity android:name=".ui.WalletlistActivity">
        </activity>
        <activity android:name=".ui.MyPayActivity">
        </activity>
        <activity android:name=".ui.AboutusActivity">
        </activity>
        <activity android:name=".ui.ChargeStationInforActivity">
        </activity>
        <activity android:name=".ui.ChargeGunInforActivity">
        </activity>
        <activity
            android:name=".ui.BaiduMapConnetionSetActivity"
            android:theme="@style/ThemeActivity_up_down">
        </activity>
        <activity android:name=".ui.ChargeStationImagesDialogActivity">
        </activity>
        <activity
            android:name=".ui.CaptureInputDialogActivity"
            android:theme="@style/dialog_nostroke">
        </activity>
        <activity
            android:name=".ui.NotificationShowDialogActivity"
            android:theme="@style/dialog_nostroke">
        </activity>
        <activity
            android:name=".ui.LockPatternActivity"
            android:launchMode="singleTask">
        </activity>
        <!-- 这里开始添加二期需要的界面 -->
        <activity android:name=".ui.CarInforActivity">
        </activity>
        <activity android:name=".ui.CarChangzuActivity">
        </activity>
        <activity
            android:name=".ui.CarhuancheActivity"
            android:theme="@style/dialog_nostroke">
        </activity>
        <activity
            android:name=".ui.CarxuzuActivity"
            android:theme="@style/dialog_nostroke">
        </activity>
        <activity android:name=".ui.CarOrderMoneyActivity">
        </activity>
        <activity android:name=".ui.CarOrderMoneyActivity2">
        </activity>
        <activity android:name=".ui.WeiZhangServiceActivity">
        </activity>
        <activity android:name=".ui.CarFeiYongSSActivity">
        </activity>
        <activity android:name=".ui.HuiYuanRZActivity">
        </activity>
        <activity android:name=".ui.CarRestlistActivity">
        </activity>
        <activity android:name=".ui.CarRestListDetailActivity">
        </activity>
        <activity android:name=".ui.CarRestListDetail2Activity">
        </activity>
        <activity android:name=".ui.CarRestListDetail3Activity">
        </activity>
        <activity android:name=".ui.NewsCenterActivity">
        </activity>
        <activity android:name=".ui.AddrListActivity">
        </activity>
        <activity android:name=".ui.CityStoresListActivity">
        </activity>
        <activity android:name=".ui.ForgetPwdActivity">
        </activity>
        <activity android:name=".ui.UserInforActivity">
        </activity>
        <activity android:name=".ui.CarShaixuanActivity">
        </activity>
        <activity android:name=".ui.ShenFenRZActivity">
        </activity>
        <activity android:name=".ui.CarChangzuFinshActivity">
        </activity>
        <activity android:name=".ui.JiaZhaoRZActivity">
        </activity>
        <activity android:name=".ui.YingYeRZActivity">
        </activity>
        <activity android:name=".ui.DuanzuActivity">
        </activity>
        <activity android:name=".ui.WeiZhangListActivity">
        </activity>
        <activity android:name=".ui.WeiZhangjiesuanActivity">
        </activity>
        <activity android:name=".ui.WeizhangChaxunActivity">
        </activity>
        <activity android:name=".ui.ZucheTiaokuanActivity">
        </activity>
        <activity android:name=".ui.CarRestListDetail_PayActivity">
        </activity>
        <activity android:name=".alipay.AliPayActivity">
        </activity>
        <activity
            android:name=".wxapi.WXPayActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:scheme="wx4a24309a9f6e187a"/>
            </intent-filter>
        </activity>

        <receiver
            android:name=".broadcastreceiver.MyBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.myreceiver.showtoast"/>
            </intent-filter>
        </receiver>

        <service android:name=".service.LocationService">
        </service>
        <service android:name=".service.DolwnLoadAppService">
        </service>
        <service android:name=".service.NotificationService">
        </service>
        <service android:name=".service.MapOfflineService">
        </service>

        <!-- 支付宝需要配置的activity -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>

        <!-- 微信支付成功后的回调界面 -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop">
        </activity>

        <!-- 微信的广播 -->
        <receiver android:name=".wxapi.AppRegister">
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP"/>
            </intent-filter>
        </receiver>

        <!-- 百度的服务 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
        </service>

        <!-- 百度sdk key -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="ZHNGkOx9yiGyrnqWQIHN5jEylQMXbTSg"/>
        <!-- 友盟渠道 -->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="self"/>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"/>
        <!--
        友盟sdk key
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="566261fe67e58e55d000492d">
        </meta-data>



        <!- 【可选】APP实现的Receiver，用于接收消息透传和操作结果的回调，请根据需要添加
        -->
        <!-- YOUR_PACKAGE_PATH.CustomPushReceiver需要改为自己的Receiver： -->
        <receiver
            android:name=".broadcastreceiver.MessageReceiver"
            android:exported="true">
            <intent-filter>

                <!-- 接收消息透传 -->
                <action android:name="com.tencent.android.tpush.action.PUSH_MESSAGE"/>
                <!-- 监听注册、反注册、设置/删除标签、通知被点击等处理结果 -->
                <action android:name="com.tencent.android.tpush.action.FEEDBACK"/>
            </intent-filter>
        </receiver>

        <!-- 【必须】 信鸽receiver广播接收 -->
        <receiver
            android:name="com.tencent.android.tpush.XGPushReceiver"
            android:process=":xg_service_v2">
            <intent-filter android:priority="0x7fffffff">

                <!-- 【必须】 信鸽SDK的内部广播 -->
                <action android:name="com.tencent.android.tpush.action.SDK"/>
                <action android:name="com.tencent.android.tpush.action.INTERNAL_PUSH_MESSAGE"/>
                <!-- 【必须】 系统广播：开屏和网络切换 -->
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>

                <!-- 【可选】 一些常用的系统广播，增强信鸽service的复活机会，请根据需要选择。当然，你也可以添加APP自定义的一些广播让启动service -->
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED"/>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>

        <!-- 【必须】 (2.30及以上版新增)展示通知的activity -->
        <!-- 【注意】 如果被打开的activity是启动模式为SingleTop，SingleTask或SingleInstance，请根据通知的异常自查列表第8点处理 -->
        <activity
            android:name="com.tencent.android.tpush.XGPushActivity"
            android:exported="true">
            <intent-filter>

                <!-- 若使用AndroidStudio，请设置android:name="android.intent.action" -->
                <action android:name="android.intent.action"/>
            </intent-filter>
        </activity>

        <!-- 【必须】 信鸽service -->
        <service
            android:name="com.tencent.android.tpush.service.XGPushService"
            android:exported="true"
            android:persistent="true"
            android:process=":xg_service_v2"/>

        <!-- 【必须】 通知service，此选项有助于提高抵达率 -->
        <service
            android:name="com.tencent.android.tpush.rpc.XGRemoteService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.haofeng.apps.dst.PUSH_ACTION"/>
            </intent-filter>
        </service>

        <!-- 【必须】 请将YOUR_ACCESS_ID修改为APP的AccessId，“21”开头的10位数字，中间没空格 -->
        <meta-data
            android:name="XG_V2_ACCESS_ID"
            android:value="2100238580"/>
        <!-- 【必须】 请将YOUR_ACCESS_KEY修改为APP的AccessKey，“A”开头的12位字符串，中间没空格 -->
        <meta-data
            android:name="XG_V2_ACCESS_KEY"
            android:value="A7MA777L5YJJ"/>

        <activity android:name=".ui.ReturnMoneyActivity">
        </activity>
        <activity android:name=".ui.ReturnMoneyRecordActivity">
        </activity>
        <activity
            android:name=".ui.CarAssociationActivity"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity android:name=".ui.YaJinDetailActivity">
        </activity>
        <activity android:name=".ui.BaoXianDetailActivity">
        </activity>
        <activity android:name=".ui.BaoXianListActivity">
        </activity>
        <activity android:name=".ui.baoxian.AdultBaoXianActivity">
        </activity>
        <activity android:name=".ui.baoxian.FemaleBaoXianActivity">
        </activity>
        <activity android:name=".ui.baoxian.LoveBaoXianActivity">
        </activity>
        <activity android:name=".ui.baoxian.BabyBaoXianActivity">
        </activity>
        <activity android:name=".ui.baoxian.AccountBaoXianActivity">
        </activity>
        <activity android:name=".ui.SearchPowerActivity">
        </activity>
        <activity android:name=".ui.UserActivity">
        </activity>
        <activity android:name=".ui.ServiceRegulationActivity">
        </activity>
        <activity android:name=".ui.OftenProblemActivity">
        </activity>
        <activity android:name=".ui.SettingPayPwdActivity">
        </activity>
        <activity android:name=".ui.ChangePayPwdActivity">
        </activity>
        <activity android:name=".ui.SubmitRentOrderActivity">
        </activity>
        <activity android:name=".ui.ShengQingGetCarActivity">
        </activity>
        <activity android:name=".ui.MyRentCarOrderActivity">
        </activity>
        <activity android:name=".ui.H5TestActivity">
        </activity>
        <activity android:name=".ui.GetCarAdressActivity">
        </activity>
        <activity android:name=".ui.NewOrderListActivity"/>
        <activity android:name=".ui.OrderDetailActivity"/>
        <activity android:name=".ui.OrderPayActivity"/>
        <activity android:name=".ui.DuanzuActivity2"/>
        <activity android:name=".ui.TestActivity"/>
        <activity android:name=".ui.RentCarActivity"/>
        <activity android:name=".ui.LongOrderDetailActivity"/>
        <activity android:name=".ui.UserCenterActivity"/>
        <activity android:name=".ui.LongRentActivity" android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".ui.Suggest2Activity"/>
        <activity android:name=".ui.FuWuGuiZeActivity"/>
        <activity android:name=".ui.CommonQuestionActivity"/>
        <activity android:name=".ui.CitySiteActivity"/>
    </application>

</manifest>